*,*::before, *::after {
    box-sizing: border-box;
    font-family: Gotam Rounded, sans-serif;
    font-weight: normnal;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);

}

.calculator__keys{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height:100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px,auto) repeat(5,100px);

}

.calculator__keys > button {
    cursor:pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline:none;
    background-color:rgba(255, 255, 255, .75);

}

.calculator__keys > button:hover {

    background-color:rgba(255, 255, 255, .9);

}

.span-two{
   grid-column: span 2;
}

.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before{
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content:space-around ;
  flex-direction: column;
  padding:10px;
  word-wrap:break-word;
  word-break: break-all;
}

.output .key--operator {
    color:rgba(255, 255, 255, .75);
   font-size: 1.5rem;
}

.container {

    border: 1px solid #cccccc;

    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);

    border-radius: 20px;

    position: absolute;

    top: 55%;

    left: 50%;

    transform: translate(-50%, -50%);

    width: 450px;

    height: 400px;

}
.keys {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    grid-gap: 10px;

    padding: 10px;

    margin:auto;

}

.button {

    height: 60px;

    padding: 5px;

    background-color: #fff;

    border-radius: 3px;

    border: 1px solid #c4c4c4;

    background-color: transparent;

    font-size: 2rem;

    color: #333;

    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0,0,0,.04));

    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);

    text-shadow: 0 1px rgba(255,255,255,.4);

}

button:hover {

    background-color: #eaeaea;

}

.operator {

    color: #fff;

    background:linear-gradient(to right, #00AAFF, #00FF6C);

}

.clear {

    background: linear-gradient(to right, #00AAFF, #00FF6C);

    border-color: black;

    width: 80px;

    height: 30px;  
    

   
    

}

.equal-sign {

    background:linear-gradient(to right, #00AAFF, #00FF6C);


}



.screen{


    justify-content: left;

    color: black;

    font-size: medium;

    width: 50%;

    height: 30%;


    padding: 5px; 

    padding-left: 80%;

    margin: 10px;

    margin-bottom: 5px;

}